extends _partial/layout

include _widget/container
include _widget/comment

block title
  title!= __('About') + " · " + config.title

block content
  +about()

block comment
  if theme.comments.about
    +comment()
