extends _partial/layout

include _widget/container
include _widget/paginator
include _widget/tags
include _widget/comment

block title
  title= config.title

block content
  +post()

block tags
  +tags()

block pagination
  +paginator('post')

block comment
  if theme.comments.post
    +comment()
