mixin analytics()
  if theme.analytics.cnzz
    +cnzz_analytics()
  else if theme.analytics.baidu
    +baidu_analytics()
  else if theme.analytics.google
    +google_analytics()

//- CNZZ analytics
mixin cnzz_analytics()
    script(type="text/javascript").
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//s11.cnzz.com/z_stat.php?id=1261952685&online=1&show=line";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();

//- Baidu analytics
mixin baidu_analytics()
    script(type="text/javascript").
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?#{theme.baidu_analytics}";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();

//- Google analytics
mixin google_analytics()
    script(type="text/javascript").
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '#{theme.google_analytics}', 'auto');
        ga('send', 'pageview');
