code
  color: #F92672;
  border-radius: 4px;
  margin: 0 2px;
  padding: 2px 4px;
  font-weight: bold;
  white-space: inherit;
    
code,pre
  background-color:rgba(0,0,0,.04);
  // font-size:.8em;
  // font-family:"Source Code Pro",monospace,Consolas,"Lucida Console", Monaco,Menlo,Consolas

.highlight
  position:relative;
  margin:1em 0;
  border-radius:3px;
  background-color:#262424;
  overflow-x:auto;
  color:#FFF
  text-align left

  table, td, tr
    width: auto;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
  .gutter
    color: #6a6a6a;
    border-right: 1px solid #333;
    text-align: center;
  pre
    padding: 14px;
    line-height: 1.25em;
    background-color: rgba(0,0,0,0);
    margin: 0;
  &::after
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: right;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #ddd;
    content: "Code";
  &.html
    &::after
      content: "Html";
  &.js
    &::after
      content: "JS";
  &.sh
    &::after
      content: "Sh";
  &.bash
    &::after
      content: "Bash";
  &.shell
    &::after
      content: "Shell";
  &.css
    &::after
      content: "CSS";
  &.scss
    &::after
      content: "Scss";
  &.diff
    &::after
      content: "Diff";
  &.xml
    &::after
      content: "XML";
  &.python
    &::after
      content: "Python";
  &.json
    &::after
      content: "JSON";
  &.swift
    &::after
      content: "Swift";
  &.ruby
    &::after
      content: "Ruby";
  &.perl
    &::after
      content: "PERL";
  &.php
    &::after
      content: "PHP";
  &.c
    &::after
      content: "C";
  &.java
    &::after
      content: "Java";
  &.cpp
    &::after
      content: 'C++';
pre
  padding: 10px 15px;
pre code
  background-color:rgba(0,0,0,0);
  color: $ax-font-color;
  margin: 0
  padding: 0;

pre .constant,pre .function .keyword
  color:#0092db
pre .attribute,pre .keyword
  color:#F92672
pre .literal,pre .number
  color:#AE81FF
pre .change,pre .clojure .built_in,pre .flow,pre .lisp .title,pre .nginx .title,pre .tag,pre .tag .title,pre .tex .special,pre .winutils
  color:#fff
pre .regexp,pre .symbol,pre .symbol .string,pre .value
  color:#F92672
pre .title
  color:#FFF
pre .addition,pre .apache .cbracket,pre .apache .tag,pre .attr_selector,pre .built_in,pre .django .filter .argument,pre .django .template_tag,pre .django .variable,pre .envvar,pre .haskell .type,pre .javadoc,pre .prompt,pre .pseudo,pre .ruby .class .parent,pre .smalltalk .array,pre .smalltalk .class,pre .smalltalk .localvars,pre .sql .aggregate,pre .stream,pre .string,pre .subst,pre .tag .value,pre .tex .command
  color:#E6DB74
pre .apache .sqbracket,pre .comment,pre .doctype,pre .java .annotation,pre .pi,pre .preprocessor,pre .python .decorator,pre .shebang,pre .template_comment,pre .tex .formula
  color:#75715E