/**
 * Container module
 */
.wrap
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    // font-size: 16px;
    // line-height: 1.6;
    // font-family: Lato, Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;

body 
    font-size $ax-font-size;
    line-height $ax-line-height;

body,a
    color: #34495e;
  

h1, h2, h3
  &::before
    margin-right: 8px
    content: "#"
    color: $ax-primary-color

blockquote
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 20px;
  border-left: 4px solid $ax-primary-color;
  @media (max-width: $ax-screen-sm-max)
    margin: 1em;
    padding-left: 10px;
    border-left: 2px solid $ax-primary-color;
  author
    display:block;
    text-align:right
    &:before
        content:"—— "
  

table
  width: 100%;
  thead
    background-color: #ddd;
    th
      padding: 5px;
  tbody
    tr:nth-child(2n)
      background-color:#eee
  
a
    background-color: transparent;
    margin: 2px 0;
    border-color: #34495e;
    text-decoration: none;
    &:hover, &:active
        transition: 0.1s ease-out;
        border-radius: 2px;
        border-bottom: 2px solid $ax-primary-color;

header
    height:80px
    padding: 3em 2em 1em 2em
    
    @media (max-width: $ax-screen-sm-max)
        padding: 1em;
    @media (min-width: $ax-screen-sm-min)
        //width: $ax-container-sm
    @media (min-width: $ax-screen-md-min)
        width: $ax-container-md
    @media (min-width: $ax-screen-lg-min)
        width: $ax-container-lg
    .logo
        float: left;
        font-size: 48px;
        &:hover, &:active
            border-bottom: 0px
    ul
        margin: 0;
        padding: 0;
        list-style-type: none;
      
    .nav
        float: right;
        margin-top: 0;
        
        .nav-link
            display: inline-block;
            padding: 20px 10px;
            
            a
                font-size: 17px
    @media (max-width: $ax-screen-sm-max)
        height:auto
        padding: 20px 0;
        .logo
            font-size: 42px;
        .logo, .nav
            float: none;
            display: block;
            text-align: center;
            .nav-link
                padding: 5px 8px;


figure
    padding: 1em 0;
    border-radius: 2px;
    text-align:center;
    img 
        max-width:80%;

img 
    max-width 100%;

.container
    border-top: 5px dotted #eee;
    padding: 2em;
    
    @media (max-width: $ax-screen-sm-max)
        padding: 1em;
    @media (min-width: $ax-screen-sm-min)
        //width: $ax-container-sm
    @media (min-width: $ax-screen-md-min)
        width: $ax-container-md
    @media (min-width: $ax-screen-lg-min)
        width: $ax-container-lg
    >ul
        margin: 0;
        padding: 0;
        list-style-type: none;
    @media (max-width: $ax-screen-sm-max)
        border-top: 1px solid #ddd;
    .paginator
        margin-top: 2em;
        margin-bottom: 4em;
        padding: 1em 0;
        .prev,
        .next 
            display: inline-block;
            font-weight: bold;
            font-size: 18px;

            span 
                margin: 0 5px;

            &:hover 
                color: $ax-primary-color;
        
        .prev
          float: left;
          
        .next
          float: right;
          
footer
    padding-top: 2em;
    text-align: center;
    .social
        display: block;
        text-align: center;
        .iconfont
            display: inline-block;
            margin-right: 10px;
            font-size: 30px;

            &:hover
                color: $ax-primary-color;
                
    .copyright
        margin-top: 15px;
        margin-bottom: 20px;
        text-align: center;
        
        .heart
            margin: 0 5px;
        p
            margin: 0;
        .theme
            a
                color: $ax-primary-color;
    .sidebar
        position: fixed;
        right: 20px;
        bottom: 50px;
        z-index: 10;

    span[id^="cnzz_stat_icon_"] 
        font-size: small;
    
    #back2top
        position: fixed;
        right: 20px;
        bottom: 20px;
        z-index: 10;
        cursor: pointer;