@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_3qld5dyft89nqaor.eot');
  src: url('//at.alicdn.com/t/font_3qld5dyft89nqaor.eot?#iefix') format('embedded-opentype'),url('//at.alicdn.com/t/font_3qld5dyft89nqaor.woff') format('woff'),url('//at.alicdn.com/t/font_3qld5dyft89nqaor.ttf') format('truetype'),url('//at.alicdn.com/t/font_3qld5dyft89nqaor.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rss:before { content: "\e600"; }

.icon-android:before { content: "\e60a"; }

.icon-coding:before { content: "\e601"; }

.icon-v2ex:before { content: "\e608"; }

.icon-link:before { content: "\e609"; }

.icon-facebook:before { content: "\e602"; }

.icon-circle:before { content: "\e606"; }

.icon-WP:before { content: "\e60b"; }

.icon-twitter:before { content: "\e605"; }

.icon-ios:before { content: "\e60c"; }

.icon-google:before { content: "\e603"; }

.icon-github:before { content: "\e607"; }

.icon-zhihu:before { content: "\e604"; }
