// Normalize.css
@import 'normalize';

// @font-face{
// 	font-family:Lato;
// 	font-style:normal;
// 	font-weight:700;
// 	src:url(https://fonts.lug.ustc.edu.cn/fonts/lato/lato-bold.eot);
// 	src:url(https://fonts.lug.ustc.edu.cn/fonts/lato/lato-bold.eot?#iefix) format('embedded-opentype'),url(https://fonts.lug.ustc.edu.cn/fonts/lato/lato-bold.woff) format('woff'),url(https://fonts.lug.ustc.edu.cn/fonts/lato/lato-bold.ttf) format('truetype'),url(https://fonts.lug.ustc.edu.cn/fonts/lato/lato-bold.svg#latobold) format('svg')
// }

// Global styles, variables and mixins
@import 'module/colors';
@import 'variables';
@import 'mixins';
@import 'head'
@import 'particles';

@import 'module/layout';
@import 'module/post';
@import 'module/code';
